.email-icon,
.phone-number,
.facebook-link {
    margin-left: 25px;
}
.facebook-link { 
    cursor: pointer;
}
.email-icon:before,
.phone-number:before,
.facebook-link:before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    background-size: 20px;
    left: 0px;
}
.phone-number:before {
    background-image: url('/images/phone-icon.svg');
}
.facebook-link:before {
    background-image: url('/images/facebook-icon.svg');
}
.email-icon:before {
    background-image: url('/images/email-icon.svg');
}
.description {
    word-wrap: break-word;
}
.map {
    height: 400px;
    width: 100%;
}