div.login-section button, 
div.login-section input,
div.login-section form,
div.login-section button#recoverPassword {
	position: relative;
	margin-top:10px; 
	display:block; 
	white-space:normal;
}

div.login-section input,
div.login-section button.login-button,
div.login-section form,
div.login-section button#recoverPassword {
	width:40%;
	left:30%;
}

div.login-section button.send-mail-to-admin,
div.login-section button.send-mail-to-others {
	width:100%;
}

div.login-section label {
	width:40%;
	left:30%;
	position: relative;
	margin-top:10px; 
	display:block; 
	font-weight: bold;	
}

div.login-section label.login-warning {
	color: orange; 	
}

div.login-section label.login-error {
	color:red; 
}