html,
body {
    height: 100%;
}

.languages-button {
    position: absolute !important;
    right: 20px !important;
}

.no-padding {
    padding: 0px;
}

.small-loading-spinner {
    width: 36px;
    position: absolute;
    left: calc(50% - 18px);
}

.loading-spinner {
    width: 60px;
    position: absolute;
    left: calc(50% - 30px);
}

.top-100-px {
    top: 100px;
}

.centered-text {
    text-align: center;
}

.semi-bold-text {
    font-weight: 600;
}

.menu-item {
    text-decoration: none;
    color: #FFF!important;
}

.float-right {
    float: right;
}

.small-margin-top {
    margin-top: 15px;
}

.medium-right-margin {
    margin-right: 20px;
}

.menu-item:hover {
    color: #FFF!important;
    text-decoration: none;
}

.app-theme {
    background-color: #007A8E;
    color: #FFF;
    border-color: #007A8E;
}

.large-text {
    font-size: 2.2em;
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}

.home {
    margin-top: 4px;
    margin-right: 20px;
}

.search-box {
    width: 400px;
    height: 50px;
    float: left;
    position: absolute;
    top: calc(50% - 12.5px);
}

.medium-text-size {
    font-size: 1.15em;
}

.app-button {
    background-color: #007A8E!important;
    color: #FFF!important;
    font-size: 1.1em;
    border-radius: 10px!important;
    padding: 10px 20px;
    text-decoration: none;
}

.app-button:hover {
    background-color: #E8970C!important;
}

.small-icon {
    height: 20px;
}

.small-margin-right {
    margin-right: 15px!important;
}

button.create-new {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

ul.nav.nav-pills.nav-stacked li {
    margin: 10px;
}

div.tab-content {
    margin-bottom: 50px;
}

ul.nav.nav-tabs {
    margin-top: -60px;
}

div.tab-content button.btn-square-corners {
    border-radius: 0 !important;
}

.wish-list-btn {
    margin-left: 4px;
}

.block {
    display: block;
}

.remove-button {
    position: absolute;
    top: 38%;
    right: 100px;
}

.position-relative {
    position: relative;
}

.large-margin-top {
    margin-top: 35px;
}

.shop-details.active {
    height: 160px;
}

.inline-block {
    display: inline-block;
}

.wishlist-remove-button {
    width: 20px;
    position: absolute;
    right: 0px;
    top: -8px;
    cursor: pointer;
}

.logo-icon {
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

label.product-image-size-warning-message {
    position: fixed;
    bottom: 35px;
    left: 5px;
    width: 100%;
    color: orange;
    font-weight: bold;
    background-color: #fff;
    margin-bottom: -1px;
}

@media (min-width: 768px) {
    label.product-image-size-warning-message {
        font-size: large;
    }
}

@media (min-width: 2000px) {
    label.product-image-size-warning-message {
        font-size: x-large;
    }
}

.empty-wishlist-message {
    margin-top: 10px;
    color: #6D6464;
    text-align: center;
}

.arrow-down {
    background-image: url('/images/arrow-down.svg');
    height: 15px;
    background-repeat: no-repeat;
    margin: 2px 0px 0px 5px;
}

.shop-details-label {
    position: absolute;
    top: 0px;
    left: 25px;
    font-size: 0.9em;
    color: #6D6464;
}

.medium-margin-bottom {
    margin-bottom: 20px;
}

.recommended-products-label {
    font-size: 20px;
}

.medium-margin-right {
    margin-right: 20px;
}

.my-nav-bar {
    position: relative;
}

.my-nav-header {
    z-index: 1;
    position: relative;
}
li i {
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 1px 12px 11px 12px;
}
li.contact i{
    background-image: url('/images/question-icon-white.svg');
}
li.contact:hover i{
    background-image: url('/images/question-icon-orange.svg');
}
li.favorite i{
    background-image: url('/images/heart-icon-white.svg');
}
li.favorite:hover i{
    background-image: url('/images/heart-icon-orange.svg');
}
li.favorite:hover a, li.contact:hover a {
    color: #E8970C!important;
}

div ul.nav.nav-tabs li.dropdown a.dropdown-toggle {
    cursor: pointer;
}

@media (max-width: 991px) {
    div.row {
        padding: 5px;
    }
    body > div > div > div > div.list-group.cattegory-button {
        padding-right: 0px;
    }
}

@media (max-width: 555px) {
    #input-search-box {
        width: calc(100% - 50px);
    }
    .search-box {
        display: block;
        margin-top: 40px;
        width: 100%;
        margin-left: 10px;
    }
    body > div > nav {
        height: 90px;
    }
    body > div > div {
        top: 20px;
    }
    #carousel-container {
        display: none;
    }
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.pictures > img {
        width: 100%;
    }
    #bs-example-navbar-collapse-1 {
        margin-top: 30px;
    }
    .shop-details.active {
        height: 470px;
    }
}

@media (min-width: 556px) {
    .search-box {
        left: 100px;
    }
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.pictures > img {
        width: 80%;
    }
}

@media (min-width: 500px) {
    .shop-details.active {
        height: 260px;
    }

}

@media (min-width: 650px) {
    .shop-details.active {
        height: 200px;
    }

}
@media (min-width: 992px) {
    body > div > div > div > div.list-group.cattegory-button {
        height: 100%;
    }
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.pictures > img {
        width: 100%;
    }
    .shop-details.active {
        height: 160px;
    }
}

@media (max-width: 991px) {
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.details > div.large-margin-top > div {
        display: block;
        float: right;
    }
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.details > div.large-margin-top > div > add-to-wish-list {
        display: inline-block;
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.details > div.large-margin-top > div > add-to-wish-list > div {
        display: inline;
    }
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.details {
        margin-bottom: 20px;
    }
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.pictures {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 992px) {
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.details {
        display: inline-block;
        width: 47%;
    }
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.details > div.large-margin-top > div {
        float: right;
    }
}

@media (max-width: 860px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    div.container-fluid ul.nav.navbar-nav.navbar-right {
        padding-left: 20px;
    }
    div.container-fluid ul.nav.navbar-nav.navbar-right li {
        line-height: 3
    }
    #bs-example-navbar-collapse-1 {
        border: none;
        background-color: #007A8E;
        border: 1px solid #FFF;
    }
    #bs-example-navbar-collapse-1 li:not(:first-child) {
        border-top: 1px solid #FFF;
    }
    body > div > nav > div > div.navbar-header.my-nav-header > img {
        height: 40px;
    }
}

@media (min-width: 861px) {
    div.container-fluid ul.nav.navbar-nav.navbar-right {
        position: absolute;
        top: calc(50% - 12.5px);
        right: 10px;
    }
    body > div.ng-scope > div {
        top: 10px;
    }
    .search-box {
        left: 120px;
    }
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #E8970C;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

div.container-fluid ul.nav.navbar-nav.navbar-right a {
    display: inline;
    color: #FFF;
}

@media (min-width: 2000px) {
    a,
    p,
    label,
    button,
    input,
    span,
    div {
        font-size: x-large !important;
    }
    .logo-icon {
        height: 70px;
    }
    .search-box {
        left: calc(100%);
        top: calc(45% - 12.5px);
    }
    body > div.ng-scope > div {
        top: 50px;
    }
    div.container-fluid ul.nav.navbar-nav.navbar-right {
        top: calc(45% - 12.5px);
    }
}

@media (min-width: 3000px) {
    a,
    p,
    label,
    button,
    input,
    span,
    div {
        font-size: xx-large !important;
    }
    .logo-icon {
        height: 100px;
    }
    .search-box,
    div.container-fluid ul.nav.navbar-nav.navbar-right {
        top: calc(40% - 12.5px);
    }
    body > div.ng-scope > div {
        top: 100px;
    }
}

.no-padding {
    padding: 0px!important;
}

.orange-font {
    color: #E8970C!important;
}

@media (max-width: 400px) {
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.details > div.large-margin-top > div > img {
        width: 94px;
        margin-top: 5px;
    }
}

@media (max-width: 470px) {
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.details > div.large-margin-top > div > add-to-wish-list > div > span {
        display: none;
    }
    body > div > div > div > div.col-md-9.no-padding.ng-scope > div > div.details > div.large-margin-top > div > img {
        margin-left: 0px;
    }
}

#images > div {
    margin-top: 20px;
}