.product-page-container {
    width: 100%;
}

.pictures {
    width: 50%;
    float: left;
    margin: 0px 15px 25px 0px;
}

.details {}

.main-picture {
    width: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
}

.other-picture {
    width: 50px;
    display: inline-block;
    margin: 2px;
    border: solid 1px #ccc;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.sub-title {
    font-size: 1.2em;
    text-align: left;
}

.medium-margin-top {
    margin-top: 20px;
}

.small-margin-top {
    margin-top: 10px;
}

.content-text {
    text-align: left;
    clear: both;
}

.inline-block {
    display: inline-block;
}


/*.medium-icon {
    height: 30px;
}*/

.wish-list {
    display: block;
}

.inline-block {
    display: inline-block;
}

.small-padding-top {
    padding-top: 20px;
}
.recent-viewed-product {
    height: 50px;
    width: 89px;
    border: 1px solid #ccc;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 30px;
}
.recentViewedProduct {
    display: inline-block;
    margin-right: 5px;
}
