<div>
    <span>Sorteaza dupa </span>
    <select ng-model='selectedOption' ng-change='onSelectedOptionChanged()' ng-options="option for option in options">
    </select>
    <div class='separator'></div>
</div>
