div.delete-image {
  display: inline-block;
  margin-bottom: 10px; 
}

div.delete-image img {
	width: 100%;
}

div.delete-image button {
  overflow: hidden;
  text-overflow: ellipsis;
}

div.delete-image input {
	width: 100%;
}