<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 delete-image">
  <div class="image-url">
    <label>{{title}}</label>
    <input type="text" ng-model="path" readonly/>
  </div>
  <div class="image-preview-wrapper">
    <img ng-src="{{path}}">
  </div>
  <button class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-danger btn-square-corners" ng-click='deleteFile()'>
    Sterge  
  </button>
</div>
