<div id="{{product._id}}" class="admin-recommended-product-container">
    <div class="col-lg-1 visible-lg recommended-product-orderNumber">
        <label>Numar de ordine recomandare:</label>
        <p ng-bind="product.recommendationOrderNumber"></p>
    </div> 
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 recommended-product-name">
        <label>Nume:</label>
        <p ng-bind="product.name"></p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs recommended-product-description">
        <label>Descriere:</label>
        <p ng-bind="product.description"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 recommended-product-main-image">
        <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-src="{{product.mainPicturePath}}">
    </div>
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs recommended-product-price">
        <label>Pret vechi:</label>
        <span ng-bind="product.oldPrice"></span>
        <label>Pret actual:</label>
        <span ng-bind="product.price"></span>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 recommended-product-action-links">
        <div class="edit" ng-click="toggleModal()">
            <button class="btn btn-link">Editeaza</button>
        </div>
    </div>

</div>
