div#recommendedProducts div.admin-recommended-product-container {
    display: block;
    min-height: 100px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 10px;
    overflow: auto;
}

div#recommendedProducts div.admin-recommended-product-container > div {
    display: inline-block;
    padding: 10px;
}

div#recommendedProducts div.admin-recommended-product-container div > p {
    overflow-wrap: break-word;
    height: 50px;
    overflow: hidden;
}

div#recommendedProducts div.admin-recommended-product-container div.recommended-product-action-links div {
    display: inline-block;
}

div#recommendedProducts div.admin-recommended-product-container div.recommended-product-action-links button.btn-link {
    font-weight: bold;
}

div#recommendedProducts div.admin-recommended-product-container div.delete-confirmation label {
    color: red;
}

div#recommendedProducts div.admin-recommended-product-container div span {
    display: block;
    margin-bottom: 10px;
}