<div ng-controller="adminCtrl" ng-if="isAuthorized">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#banners">Bannere</a>
        </li>
        <li>
            <a data-toggle="tab" href="#categories">Categorii</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Produse<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a data-toggle="tab" href="#products">Toate</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#recommendedProducts">Recomandate</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a data-toggle="tab" href="#admin">Detalii</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#images" ng-click="refreshImages()">Imagini</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="tab-content">
        <div id="banners" class="tab-pane fade in active" ng-controller="adminBannersController">
            <banner-list-item ng-repeat="banner in banners" banner="banner" toggle-admin-modal='onToggleModal(banner)'></banner-list-item>
            <button class="btn btn-info create-new btn-square-corners" ng-click='onToggleModal()'>Adauga un banner nou</button>
            <banner-content ng-if='modalShown' show='modalShown' banner="selectedBanner" toggle-admin-modal='onToggleModal(banner)'></banner-content>
        </div>
        <div id="categories" class="tab-pane fade" ng-controller="adminCategoriesController">
            <category-list-item ng-repeat="category in categories" category="category" toggle-admin-modal='onToggleModal(category)'></category-list-item>
            <button class="btn btn-info create-new btn-square-corners" ng-click='onToggleModal()'>Adauga o categorie noua</button>
            <category-content ng-if='modalShown' show='modalShown' category="selectedCategory" toggle-admin-modal='onToggleModal(banner)'></category-content>
        </div>
        <div id="products" class="tab-pane fade" ng-controller="adminProductsController">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="category in categories" class="product-category">
                        <a href="#" ng-bind='category.name' class="centered-text btn btn-default" ng-click='onSelectedCategoryChanged(category)'></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                <product-list-item ng-repeat="product in products" product="product" toggle-admin-modal='onToggleModal(product)'></product-list-item>
                <label ng-if="displayCreateButton" class="product-image-size-warning-message">Pentru afisarea corecta a imaginilor produselor, raportul de aspect trebuie sa fie 16x9.</label>
                <button ng-if="displayCreateButton" class="btn btn-info create-new btn-square-corners" ng-click='onToggleModal()'>Adauga un produs nou</button>
            </div>
            <product-content ng-if='modalShown' selected-category='selectedCategory' categories='categories' show='modalShown' product="selectedProduct" toggle-admin-modal='onToggleModal(product)'></product-content>
        </div>
        <div id="recommendedProducts" class="tab-pane fade" ng-controller="adminProductsController">
            <recommended-product-list-item ng-repeat="product in recommendedProducts" product="product" toggle-admin-modal='onToggleModal(product)'></recommended-product-list-item>
            <product-content ng-if='modalShown' selected-category='selectedCategory' categories='categories' show='modalShown' product="selectedProduct" toggle-admin-modal='onToggleModal(product)'></product-content>
        </div>
        <div id="admin" class="tab-pane fade">
            <admin-content></admin-content>
        </div>
        <div id="images" class="tab-pane fade">
            <div class="images">
                <delete-image ng-repeat='imageUrl in imageUrls' path='imageUrl'></delete-image>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $('div ul.nav-tabs a').click(function(e) {
        e.preventDefault();
        $('div > ul > li.product-category > a').on('click', function(e) {
            e.preventDefault();
            $('div > ul > li.product-category').removeClass('active');
            $(this).parent().addClass('active');
        });
    });
    </script>
</div>
<div ng-controller="adminCtrl" ng-if="!isAuthorized">NOT AUTHORIZED</div>
