<div class="col-lg-6 col-md-6 col-sm-4 col-xs-6 upload-image">
  <div class="image-url">
    <label>{{title}}</label>
    <input type="text" ng-model="path" required/>
  </div>
  <div class="image-preview-wrapper">
    <img ng-src="{{path}}">
  </div>
  <button class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-success btn-square-corners" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
    Adauga  
  </button>
</div>
