<div class='ng-modal' ng-show='show'>
  <div class='ng-modal-overlay'></div>
  <div class='col-lg-10 col-md-11 col-sm-11 col-xs-11 ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'>X</div>
    <div class='ng-modal-dialog-content'>
      <h2>Produs</h2>
      <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 product-info">
        <div class="product-category">
          <label>Categorie:</label>
          <select ng-model="selectedCategory" ng-options="c.name for c in categories" ng-change="changeProductCategory(selectedCategory._id)"></select>
        </div>
        <div class="product-orderNumber">
          <label ng-show="!showErrorMessageForOrderNumber">Numar de ordine:</label>
          <label class="error-message" ng-show="showErrorMessageForOrderNumber">Numarul de ordine trebuie sa fie numar intreg:</label>
          <input type="text" ng-model="product.orderNumber" />
        </div>
        <div class="product-name">
          <label ng-show="!showErrorMessageForName">Nume:</label>
          <label class="error-message" ng-show="showErrorMessageForName">Numele nu poate fi gol:</label>
          <input type="text" ng-model="product.name" required />
        </div>
        <div class="product-description">
          <label>Descriere:</label>
          <textarea ng-model="product.description"></textarea>
        </div>
        <div class="product-old-price">
          <label ng-show="!showErrorMessageForOldPrice">Pret vechi:</label>
          <label class="error-message" ng-show="showErrorMessageForOldPrice">Pretul vechi trebuie sa fie numar:</label>
          <input type="text" ng-model="product.oldPrice" />
        </div>
        <div class="product-price">
          <label ng-show="!showErrorMessageForPrice">Pret actual:</label>
          <label class="error-message" ng-show="showErrorMessageForPrice">Pretul actual trebuie sa fie numar:</label>
          <input type="text" ng-model="product.price" />
        </div>
        <div class="isRecommended">
          <label><input type="checkbox" value="" ng-model='product.isRecommended'>Recomandat</label>
          <label ng-if='product.isRecommended'>Numar de ordine recomandare:</label>
          <input type="text" ng-if='product.isRecommended' ng-model='product.recommendationOrderNumber'>
        </div>
      </div>
      <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 product-images">
        <upload-image path='product.mainPicturePath' title='Imagine principala:'></upload-image>
        <upload-image path='product.otherPicturePaths[0]' title='A doua imagine:'></upload-image>
        <upload-image path='product.otherPicturePaths[1]' title='A treia imagine:'></upload-image>
        <upload-image path='product.otherPicturePaths[2]' title='A patra imagine:'></upload-image>
        <upload-image path='product.otherPicturePaths[3]' title='A cincea imagine:'></upload-image>
        <upload-image path='product.otherPicturePaths[4]' title='A sasea imagine:'></upload-image>
      </div>
    </div>
    <div class="modal-buttons">
      <button class="btn btn-info create-new btn-square-corners" ng-click='saveProduct()'>Salveaza</button>
    </div>
  </div>
</div>
