div#products div.ng-modal-dialog-content label,
div#recommendedProducts div.ng-modal-dialog-content label {
  display: inline-block;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

div#products div.ng-modal-dialog-content label.error-message,
div#recommendedProducts div.ng-modal-dialog-content label.error-message {
  color: red;
  font-weight: bold;
}

div#products div.ng-modal-dialog-content label.warning-message,
div#recommendedProducts div.ng-modal-dialog-content label.warning-message {
  color: orange;
  font-weight: bold;
  font-size: smaller;
  margin-left: 10px;
}

div#products div.ng-modal-dialog-content input[type=text],
div#products div.ng-modal-dialog-content textarea,
div#recommendedProducts div.ng-modal-dialog-content input[type=text],
div#recommendedProducts div.ng-modal-dialog-content textarea {
  width: 100%;
}

div#products div.ng-modal-dialog-content textarea,
div#recommendedProducts div.ng-modal-dialog-content textarea {
  resize: none;
  height: 300px;
}

div#products div.ng-modal-dialog-content div.product-info div.product-category select,
div#recommendedProducts div.ng-modal-dialog-content div.product-info div.product-category select {
  display: block;
  width: 100%;
}

div#products div.ng-modal-dialog-content div.product-info div.isRecommended,
div#recommendedProducts div.ng-modal-dialog-content div.product-info div.isRecommended {
  margin-bottom: 50px;
}

div#products div.ng-modal-dialog-content div.product-info div.isRecommended label,
div#recommendedProducts div.ng-modal-dialog-content div.product-info div.isRecommended label {
  width: 100%;
}

div#products div.ng-modal-dialog-content div.product-images,
div#recommendedProducts div.ng-modal-dialog-content div.product-images {
  margin-bottom: 50px;
}

@media (max-width: 550px) {
  div#products div.ng-modal-dialog,
  div#recommendedProducts div.ng-modal-dialog {
    top: 680px;
  }
}

@media (min-width: 550px) {
  div#products div.ng-modal-dialog,
  div#recommendedProducts div.ng-modal-dialog {
    top: 770px;
  }
}

@media (max-width: 767px) {
  div#products div.ng-modal-dialog-content,
  div#recommendedProducts div.ng-modal-dialog-content {
    overflow: scroll;
  }
  div#products div.ng-modal-dialog-content div.product-info div.isRecommended,
  div#recommendedProducts div.ng-modal-dialog-content div.product-info div.isRecommended {
    margin-bottom: 0px
  }
  div#products div.ng-modal-dialog-content div.product-info textarea,
  div#recommendedProducts div.ng-modal-dialog-content div.product-info textarea {
    height: 180px;
  }
  div#products div.ng-modal-dialog-content div.upload-image,
  div#recommendedProducts div.ng-modal-dialog-content div.upload-image {}
}

@media (min-width: 768px) {
    div#products div.ng-modal-dialog,
    div#recommendedProducts div.ng-modal-dialog {
      top: 700px;
    }
}

@media (min-width: 992px) {
    div#products div.ng-modal-dialog,
    div#recommendedProducts div.ng-modal-dialog {
      top: 600px;
    }
}

@media (min-width: 2000px) {
    div#products div.ng-modal-dialog,
    div#recommendedProducts div.ng-modal-dialog {
      top: 700px;
    }
}

@media (min-width: 2300px) {
    div#products div.ng-modal-dialog,
    div#recommendedProducts div.ng-modal-dialog {
      top: 800px;
    }
}

@media (min-width: 2850px) {
    div#products div.ng-modal-dialog,
    div#recommendedProducts div.ng-modal-dialog {
      top: 900px;
    }
}

@media (min-width: 3200px) {
    div#products div.ng-modal-dialog,
    div#recommendedProducts div.ng-modal-dialog {
      top: 1020px;
    }
}