<div ng-if="isDiscountCase()">
	<span class='small-font-outdated-text' ng-bind="getOldPrice()"></span>
	<span class='small-font-gray' ng-bind="getDiscountValue()"></span>
</div>
<div ng-class='getStyleForPrice()' class='large-font' ng-bind="getNewPrice()"></div>