[class^="small-font"] {
	font-size: 13px;
}

[class^="large-font"] {
	font-size: 26px;
}
.small-font-outdated-text {
	color: #A09797;
	text-decoration: line-through;
}
.danger-text {
	color: #F42C00;
	font-weight: bold;
}
.small-font-gray {
	color: #A09797;
}