div.admin-banner-container {
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    min-height: 100px;
    margin-top: 10px;
    overflow: auto;
}

div.admin-banner-container > div {
    display: inline-block;
    min-height: 100%;
    padding: 10px;
}

div.admin-banner-container div > p {
    overflow-wrap: break-word;
    height: 50px;
    overflow: hidden;
}

div.admin-banner-container div.banner-action-links div {
    display: inline-block;
}

div.admin-banner-container div.banner-action-links button.btn-link {
    font-weight: bold;
}

div.admin-banner-container div.delete-confirmation label {
    color: red;
}