<div id="{{banner._id}}" class="admin-banner-container">
    <div class="col-lg-1 visible-lg banner-orderNumber">
        <label>Numar de ordine:</label>
        <p ng-bind="banner.orderNumber"></p>
    </div> 
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 banner-name">
        <label>Nume:</label>
        <p ng-bind="banner.name"></p>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 hidden-xs banner-description">
        <label>Descriere:</label>
        <p ng-bind="banner.description"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 banner-image">
        <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-src="{{banner.picturePath}}">
    </div>
    <div class="col-lg-2 visible-lg banner-target-url">
        <label>Target url:</label>
        <p ng-bind="banner.targetUrl"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 banner-action-links" ng-if='showActionLinks'>
        <div class="toggle-active">
            <button ng-bind="stateText()" ng-click="toggleState()" class="btn btn-link"></button>
        </div>
        <div class="edit" ng-click="toggleModal()">
        	<button class="btn btn-link">Editeaza</button>
        </div>
        <div class="delete" ng-click="toggleDeleteConfirmation()">
        	<button class="btn btn-link">Sterge</button>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 delete-confirmation" ng-if='showDeleteConfirmation'>
        <label>Esti sigur ca vrei sa stergi banner-ul?</label>
        <button class="btn btn-danger btn-square-corners" ng-click="deleteBanner()">Da</button>
        <button class="btn btn-default btn-square-corners" ng-click="toggleDeleteConfirmation()">Nu</button>
    </div>
</div>
