<div id="{{product._id}}" class="admin-product-container">
    <div class="col-lg-1 visible-lg product-orderNumber">
        <label>Numar de ordine:</label>
        <p ng-bind="product.orderNumber"></p>
    </div> 
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 product-name">
        <label>Nume:</label>
        <p ng-bind="product.name"></p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 admin-product-description">
        <label>Descriere:</label>
        <p ng-bind="product.description"></p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 admin-product-main-image">
        <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-src="{{product.mainPicturePath}}">
    </div>
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs product-price">
        <label>Pret vechi:</label>
        <span ng-bind="product.oldPrice"></span>
        <label>Pret actual:</label>
        <span ng-bind="product.price"></span>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 product-action-links" ng-if='showActionLinks'>
        <div class="edit" ng-click="toggleModal()">
        	<button class="btn btn-link">Editeaza</button>
        </div>
        <div class="delete" ng-click="toggleDeleteConfirmation()">
        	<button class="btn btn-link">Sterge</button>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 delete-confirmation" ng-if='showDeleteConfirmation'>
        <label>Esti sigur ca vrei sa stergi produsul?</label>
        <button class="btn btn-danger btn-square-corners" ng-click="deleteProduct()">Da</button>
        <button class="btn btn-default btn-square-corners" ng-click="toggleDeleteConfirmation()">Nu</button>
    </div>
</div>
