<div class='search-box-container'>
	<input id="input-search-box" ng-change="onQueryTextChanged()" ng-model="queryText" placeholder="Ce vrei sa cauti azi?" class='input-box' type="text" ng-enter="doSearch()">
	<div class='clear-input-button fade-out' ng-class="getSearchClearIconClass()" ng-click="clearSearchBox()">X</div>
	<img class='search-icon' src="/images/search-icon.svg" ng-click="doSearch()" title='Caută'>
	<div class='search-suggestions' ng-show="suggestions && suggestions.length" off-click="clearSuggestions()">
		<div ng-repeat="suggestion in suggestions" class='suggestion-item truncate' ng-click="onSuggestionClicked(suggestion)" ng-bind="suggestion"></div>
	</div>
</div>