.search-box-container {
    display: inline-block;
    width: inherit;
}

.input-box {
    display: inline-block;
    width: 350px;
    padding-left: 3px;
    color: #000;
}

.clear-input-button {
    display: inline-block;
    cursor: pointer;
    margin-left: -20px;
    font-weight: 600;
    color: #666A6D;
    font-size: 11px;
    margin-top: 3px;
    margin-right: 2px;
}

.search-icon {
    height: 29px;
    cursor: pointer;
    top: -1px;
    position: absolute;
    right: 24px;
}
.search-icon:hover {
    background-color: #E8970C;
}

.fade-out {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -transition: all 1s ease;
    cursor: default;
}

.fade-in {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -transition: all 1s ease;
    cursor: pointer;
}

.search-suggestions {
    width: calc(100% - 50px);
    margin-top: -1px;
    z-index: 2;
    background-color: #FFF;
    border: 1px #ccc solid;
    box-shadow: 1px 1px 10px #656060;
    padding: 5px 2px;
    max-height: 200px;
    overflow-y: auto;
    max-width: calc(100% - 50px);
}

.suggestion-item {
    color: #757575;
    font-size: 0.9em;
    cursor: pointer;
    padding-left: 3px;
    max-width: calc(100% - 46px);
    clear:both;
}
.suggestion-item:first-child {
    margin-bottom: 1px #ccc solid;
    float: right;
}

.suggestion-item:hover {
    font-weight: bold;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
