.shop-details-header {
    cursor: pointer;
}
.shop-details {
    -webkit-transition: height 0.75s;
    /* For Safari 3.1 to 6.0 */
    
    transition: height 0.75s;
    position: fixed;
    height: 20px;
    background-color: #EFEFEF;
    clear: both;
    bottom: 0px;
    width: 80%;
    right: 10%;
    left: 10%;
    color: #fff;
    border: 1px solid #B9B4B4;
    box-shadow: 0px 0px 15px #A29E9E;
}
.details-body {
    margin: 0.3% 0px;
    height: 100%;
    color: #6D6464
}
.details-body section {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
}
.details-body section:first-child {
    margin-left: 4%;
}
.details-body section:last-child {
    margin-right: 4%;
}
.details-body section ul {
    padding: 0px;
    list-style: none;
}
.details-body section ul li:not(:last-child) {
    margin-bottom: 2px;
}
.rounded-background-oranged-image {
    background-color: #E8970C;
    border-radius: 50px;
}
.word-wrap {
    word-wrap: break-word;
}
