<div class='col-md-9 no-padding shop-details' off-click="active = false" ng-class="{'active' : active}" style="">
    <div class='shop-details-header' ng-click="active = !active" ng ng-dblclick="active = active" ng-init="active=false;">
        <div class='arrow-down'></div>
        <span class='shop-details-label'>Alte detalii...</span>
    </div>
    <article class="details-body">
	    <section class="contact-section">
	    	<header>
	    		<h4>Contact</h4>
	    	</header>
	    	<ul>
	    		<li>
	    			<img class="small-icon rounded-background-oranged-image" src="/images/phone-icon-white.svg">
                    <span class="no-padding word-wrap" ng-bind="phoneNumber"></span>
	    		</li>
	    		<li>
	    			<img class='small-icon' src="/images/email-icon-circle.svg">
	    			<span class="no-padding word-wrap" ng-bind="email"></span>
	    		</li>
	    		<li class="clickable" ng-click="openFacebook()">
	    			<img class='small-icon' src="/images/facebook-orange.svg">
	    			<span class='no-padding word-wrap'>Ne gasiti si pe Facebook!</span>
	    		</li>
	    		<li class="clickable" ui-sref="shop.contact">
	    			<img class='small-icon' src="/images/support-full-orange.svg">
	    			<span class='no-padding word-wrap'>Contactati-ne!</span>
	    		</li>
	    	</ul>
	    </section>
	    <section>
	    	<header>
	    		<h4>Ai probleme?</h4>
	    	</header>
	    	<ul>
	    		<li>
	    			<img class='small-icon' src="/images/technical-support-orange.svg">
	    			<span class='no-padding word-wrap'>Trimite-ne un email la <strong>{{email}}</strong></span>
	    		</li>
	    	</ul>
	    </section>
	    <section>
	    	<header>
	    		<h4>Cum comand?</h4>
	    		<ul>
	    			<img class="small-icon" src="/images/order-icon-orange.svg">
	    			<span class='no-padding word-wrap'>Simplu! Comanda se face telefonic la <strong>{{phoneNumber}}</strong>.</span>
	    		</ul>
	    	</header>
	    </section>
    </article>
</div>