div#categories div.ng-modal-dialog-content {
	margin-bottom: 50px;	
}

div#categories div.ng-modal-dialog-content label {
    display: inline-block;
    margin-top: 5px;
}

div#categories div.ng-modal-dialog-content label.error-message {
    color: red;
    font-weight: bold;
}

div#categories div.ng-modal-dialog-content label.warning-message {
    color: orange;
    font-weight: bold;
    font-size: smaller;
}

div#categories div.ng-modal-dialog-content input[type=text],
div#categories div.ng-modal-dialog-content textarea {
    width: 100%;
}

div#categories div.ng-modal-dialog-content textarea {
     resize: none;
     height: 200px;
}