<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay'></div>
    <div class='col-lg-3 col-md-4 col-sm-6 col-xs-8 ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-close' ng-click='hideModal()'>X</div>
        <div class='ng-modal-dialog-content'>
            <h2>Categorie</h2>
            <div class="category-info">
                <div class="category-orderNumber">
                    <label ng-show="!showErrorMessageForOrderNumber">Numar de ordine:</label>
                    <label class="error-message" ng-show="showErrorMessageForOrderNumber">Numarul de ordine trebuie sa fie numar intreg:</label>
                    <input type="text"  ng-model="category.orderNumber"/>
                </div>
                <div class="category-name">
                    <label ng-show="!showErrorMessageForName">Nume:</label>
                    <label class="error-message" ng-show="showErrorMessageForName">Numele nu poate fi gol:</label>
                    <input type="text" ng-model="category.name" required />
                </div>
                <div class="category-description">
                    <label>Descriere:</label>
                    <textarea ng-model="category.description"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-buttons">
            <button class="btn btn-info create-new btn-square-corners" ng-click='saveCategory()'>Salveaza</button>
        </div>
    </div>
</div>
