.product-container {
	border: 1px solid #ccc;
	display: inline-block;
    max-width: 200px;
    margin: 0px 10px 20px 0px;
    overflow: hidden;
}
.product-details {
	background-color: #EFEFEF;
    padding: 0px 10px;
}
.product-main-image {
    width: 200px;
    height: 150px;
	cursor: pointer;
}
.product-name {
	margin: 5px 0px;
}
.discount-price {
	color: #F42C00;
	font-size: 1.25em;
}
.product-price {
	color: black;
	font-size: 1.1em;
}
.old-price {
	font-size: 0.8em;
	text-decoration: line-through;
}
.small-top-padding {
	padding-top: 20px;
}
.product-description {
	width: 100%;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}