<div class='product-container'>
    <img class='product-main-image' ng-src="{{product.mainPicturePath}}" err-src="http://placehold.it/200x110" ui-sref="shop.product({'selectedProduct' : product._id })">
    <div class='product-details'>
        <div class='old-price' ng-bind="getOldProductPrice()" ng-if="discountCase"></div>
        <div ng-class="getPriceCSSClasses()" ng-bind="getProductPrice()" ng-bind="product.price"></div>
        <div class='product-name truncate' ng-bind="product.name"></div>
        <div class="product-description truncate" ng-bind="product.description"></div>
    </div>
</div>
