<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay'></div>
    <div class='col-lg-7 col-md-8 col-sm-10 col-xs-11 ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-close' ng-click='hideModal()'>X</div>
        <div class='ng-modal-dialog-content'>
            <h2>Banner</h2>
            <div class="banner-info">
                <div class="banner-orderNumber">
                    <label ng-show="!showErrorMessageForOrderNumber">Numar de ordine:</label>
                    <label class="error-message" ng-show="showErrorMessageForOrderNumber">Numarul de ordine trebuie sa fie numar intreg:</label>
                    <input type="text"  ng-model="banner.orderNumber"/>
                </div>
                <div class="banner-name">
                    <label ng-show="!showErrorMessageForName">Nume:</label>
                    <label class="error-message" ng-show="showErrorMessageForName">Numele nu poate fi gol:</label>
                    <input type="text" ng-model="banner.name" required />
                </div>
                <div class="banner-description">
                    <label>Descriere:</label>
                    <textarea ng-model="banner.description"></textarea>
                </div>
                <div class="banner-target-url">
                    <label>Target url:</label>
                    <input type="text" ng-model="banner.targetUrl" />
                </div>
                <div class="banner-target-url">
                    <label ng-show="!showErrorMessageForPicturePath">Url imagine:</label>
                    <label class="error-message" ng-show="showErrorMessageForPicturePath">Url imagine nu poate fi gol:</label>
                    <input type="text" ng-model="banner.picturePath" required/>
                </div>
            </div>
            <div class="banner-image">
                <label>Previzualizare imagine:</label>
                <img ng-src="{{banner.picturePath}}">
                <br>
                <button class="btn btn-success btn-square-corners" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                    Adauga imagine noua
                </button>
                <label class="warning-message">Dimensiuni banner pentru afisare corespunzatoare: 800x300 px</label>
            </div>
        </div>
        <div class="modal-buttons">
            <button class="btn btn-info create-new btn-square-corners" ng-click='saveBanner()'>Salveaza</button>
        </div>
    </div>
</div>
