div#banners div.ng-modal-dialog-content {
    margin-bottom: 550px;
}

div#banners div.ng-modal-dialog-content label {
    display: inline-block;
    margin-top: 5px;
}

div#banners div.ng-modal-dialog-content label.error-message {
    color: red;
    font-weight: bold;
}

div#banners div.ng-modal-dialog-content label.warning-message {
    color: orange;
    font-weight: bold;
    font-size: smaller;
}

div#banners div.ng-modal-dialog-content input[type=text],
div#banners div.ng-modal-dialog-content textarea {
    width: 100%;
}

div#banners div.ng-modal-dialog-content textarea {
    resize: none;
    height: 200px;
}

div#banners div.ng-modal-dialog-content div.banner-info,
div#banners div.ng-modal-dialog-content div.banner-image {
    width: 50%;
    padding: 10px;
}

div#banners div.ng-modal-dialog-content div.banner-info {
    float: left;
}

div#banners div.ng-modal-dialog-content div.banner-image {
    min-width: 50%;
    float: right;
}

div#banners div.ng-modal-dialog-content div.banner-info div {
    margin-bottom: 10px;
}

div#banners div.ng-modal-dialog-content div.banner-image img {
    width: 100%;
}

div#banners div.ng-modal-dialog-content div.banner-image button {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 766px) {
    div#banners div.ng-modal-dialog-content textarea {
        height: 180px;
    }
}

@media (max-width: 2000px) {
    div#banners div.ng-modal-dialog {
        top: 400px;
    }
}

@media (min-width: 2000px) {
    div#banners div.ng-modal-dialog {
        top: 500px;
    }
    div#banners div.ng-modal-dialog-content {
        margin-bottom: 700px;
    }
}

@media (min-width: 3000px) {
    div#banners div.ng-modal-dialog {
        top: 500px;
    }
    div#banners div.ng-modal-dialog-content {
        margin-bottom: 800px;
    }
}