div.admin-container {
    padding: 20px;
}

div.admin-container div.info>div,
div.admin-container div.new-password>label {
    margin-top: 10px;
}

div.admin-container div.info div,
div.admin-container div.info label,
div.admin-container div.new-password div,
div.admin-container div.new-password label {
    display: inline-block;
    width: 100%;
}

div.admin-container button {
    display: block;
    width: 100%;
    margin-top: 20px;
}

div.admin-container input {
    width: 100%;
}

div.admin-container div.logo div.upload-image {
    max-width: 50%;
}

div.admin-container div.logo div.upload-image button {
    margin-top: 0px;
}

div.admin-container div.description textarea {
    height: 100px;
    max-width: 100%;
    min-width: 100%;
}

div.admin-container div.maps input {
    width: 49.7%;
    display: inline-block;
    margin-bottom: 3px;
}

div.admin-container label.error-message {
    color: red;
    font-weight: bold;
}

div.admin-container label.warning-message {
    display: inline-block;
    color: orange;
    font-weight: bold;
}

div.admin-container div.images {
    margin-top: 50px;
}

div.admin-container button.btn-danger {
    margin-top: 0px;
}
