<div class="admin-container">
  <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 info" ng-if="!showServerImages">
    <div class="name">
      <label>Nume de contact:</label>
      <input type="text" ng-model="admin.name" />
    </div>
    <div class="phone">
      <label>Numar de telefon:</label>
      <input type="text" ng-model="admin.phone" />
    </div>
    <div class="email">
      <label>Email:</label>
      <input type="text" ng-model="admin.email" />
    </div>
    <div class="facebook">
      <label>Facebook:</label>
      <input type="text" ng-model="admin.facebook" />
    </div>
    <div class="description">
      <label>Descriere:</label>
      <textarea ng-model="admin.description"></textarea>
    </div>
    <div class="logo">
      <upload-image path='admin.logo' title='Logo:'></upload-image>
    </div>
    <div class="maps">
      <label>Coordonate google maps:</label>
      <input placeholder="Latitudine" type="text" ng-model="admin.coordinates.latitude" />
      <input placeholder="Longitudine" type="text" ng-model="admin.coordinates.longitude" />
    </div>
    <label class="warning-message" ng-if="showWarningMessageForInfo">Informatiile au fost schimbate cu succes!</label>
    <button class="btn btn-info btn-square-corners" ng-click='changeInfo()' ng-if="!showWarningMessageForInfo">Salveaza modificarile</button>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 new-password" ng-if="!showServerImages">
    <label>Parola noua:</label>
    <input type="password" ng-model='newPassword.password'/>
    <label>Confirma parola noua:</label>
    <input type="password" ng-model='newPassword.confirmed'/>
    <label class="error-message" ng-if="showErrorMessageForPassword">Parola nu poate fi goala si trebuie confirmata!</label>
    <label class="warning-message" ng-if="showWarningMessageForPassword">Parola a fost schimbata cu succes!</label>
    <button class="btn btn-info btn-square-corners" ng-click="changePassword()" ng-if='!showWarningMessageForPassword'>Schimba parola</button>
  </div>
</div>
