div.admin-category-container {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 10px;
    min-height: 100px;
    display: block;
    overflow: auto;
}

div.admin-category-container > div {
    display: inline-block;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.admin-category-container div.category-action-links div {
    display: inline-block;
}

div.admin-category-container div.category-action-links button.btn-link {
    font-weight: bold;
}

div.admin-category-container div.delete-confirmation label {
    color: red;
}

div.admin-category-container div span {
    display: block;
}
