<div id="{{category._id}}" class="admin-category-container">
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs category-orderNumber">
        <label>Numar de ordine:</label>
        <span ng-bind="category.orderNumber"></span>
    </div> 
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 category-name">
        <label>Nume:</label>
        <span ng-bind="category.name"></span>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 category-description">
        <label>Descriere:</label>
        <span ng-bind="category.description"></span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 category-action-links" ng-if='showActionLinks'>
        <div class="edit" ng-click="toggleModal()">
        	<button class="btn btn-link">Editeaza</button>
        </div>
        <div class="delete" ng-click="toggleDeleteConfirmation()">
        	<button class="btn btn-link">Sterge</button>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 delete-confirmation" ng-if='showDeleteConfirmation'>
        <label>Esti sigur ca vrei sa stergi categoria?</label>
        <button class="btn btn-danger btn-square-corners" ng-click="deleteCategory()">Da</button>
        <button class="btn btn-default btn-square-corners" ng-click="toggleDeleteConfirmation()">Nu</button>
    </div>
    <div class="delete-confirmation" ng-if='hasProducts'>
        <label>Nu se poate sterge pentru ca are produse definite!</label>
    </div>
</div>
