<div class='clickable' ng-click="addToFavorite()">
    <img class="small-icon" ng-show="!alreadyAddedToWishList" src="/images/heart-icon.svg">
    <div class="full-heart small-icon" title="Acest produst este deja adaugat la Favorite" ng-show="alreadyAddedToWishList"></div>
    <span class='small-font'>adauga la Favorite</span>
</div>
