<sort-select on-sort-option-changed="onSortOptionChanged(predicate, reverse)"></sort-select>
<my-product ng-repeat="product in products" product='product' ng-show="productsLoaded && products.length" ></my-product>
<div ng-if="productsLoaded && !products.length">Nu sunt produse in aceasta categorie</div>
<img class='small-loading-spinner top-100-px' src='images/loading-spinner.gif' ng-if='!productsLoaded'>
