<div class='description' ng-bind="description"></div>
<div class='facebook-link small-margin-top' ng-if="facebookLink" ng-bind="facebookLink" ng-click="openFacebook()"></div>
<div class='phone-number small-margin-top' ng-if="phoneNumber" ng-bind="phoneNumber"></div>
<div class='email-icon small-margin-top' ng-if="email" ng-bind="email"></div>
<iframe class='small-margin-top medium-margin-bottom map' frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&q=Suceava, Romania&ie=UTF8&t=m&z=12&iwloc=B&output=embed">
    <div><small><a href="http://embedgooglemaps.com"></a></small>
    </div>
    <div><small><a href="http://googlemapsgenerator.com">googlemapsgenerator.com</a></small>
    </div>
</iframe>