<div class="login-section">
  <h1 style="text-align: center">LOGIN</h1>
  <label class="login-error" ng-if="showFailedLogin">Parola gresita...</label>
  <input type="password" placeholder="Inserati parola" ng-model="password">
  <button class="login-button btn btn-success" ng-click="login()">LOGIN</button>
  <button id="recoverPassword" ng-click="recoverPassword()" class="btn btn-link" ng-if="!showCaptchaSection && !showRecoverSection">Proces de recuperare parola.</button>
  <div class="recover" ng-if="showRecoverSection">
    <button ng-click="sendPasswordMailToAdmin()" class="send-mail-to-admin btn btn-link" ng-if="!displayWarningMessageForSendToAdmin">Click aici si verifica-ti emailul.</button>
    <label class="login-warning" ng-if="displayWarningMessageForSendToAdmin">Email trimis cu succes.</label>
    <button ng-click="sendPasswordMailToOthers()" class="send-mail-to-others btn btn-link" ng-if="displayEmergencyButton && !displayWarningMessageForSendToOthers">Daca intampini probleme legate de emailul personal click aici si parola va fi trimisa catre cele trei adrese de siguranta.</button>
    <label class="login-warning" ng-if="displayWarningMessageForSendToOthers">Email trimis cu succes.</label>
  </div>
  <form ng-submit="submit()" ng-if="showCaptchaSection">
    <div vc-recaptcha theme="'light'" key="captchaKey" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
  	<button class="btn btn-link" type="submit">Pentru a recupera parola demonstreaza ca nu esti robot apoi click aici.</button>
  </form>
</div>
