<div id='carousel-container' ng-controller='bannersController'>
    <div class="row carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" ng-show="bannersLoaded">
                <ol class="carousel-indicators">
                    <li ng-repeat="banner in banners" data-slide-to="{{banner.index}}" data-target="#carousel-example-generic" ng-class="{'active' : !banner.index}"></li>
                </ol>
                <div class="carousel-inner">
                    <div ng-repeat="banner in banners" ng-click="onClick(banner._id)" class="item" ng-class="{'active': !banner.index}">
                        <img class="slide-image" ng-src="{{ banner.picturePath }}" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <img class='loading-spinner top-100-px' src='images/loading-spinner.gif' ng-if='!bannersLoaded'>
        </div>
    </div>
</div>
