<div class='product-page-container'>
    <div class='details'>
        <div class='title' ng-bind='product.name'></div>
        <div class='large-margin-top'>
            <price class='inline-block' old-price='{{product.oldPrice}}' new-price='{{product.price}}'></price>
            <div>
                <add-to-wish-list class='wish-list' ng-if="product"></add-to-wish-list>
                <img class='pull-right' src="/images/deschizi-coletul-la-livrare.png">
            </div>
        </div>
    </div>
    <div class='pictures'>
        <img class='main-picture' ng-src='{{mainPicture}}' ng-click="parameter.onClick()">
        <ng-gallery parameter="parameter" on-small-pic-hover="onSmallPictureHover(index)" images="productPicturesGallery"></ng-gallery>
    </div>
    <div class='content-text' ng-bind='product.description'></div>
    <div class='separator'></div>
    <div class='recent-viewed-products' ng-show="recentViewedProducts.length">
        <div class='recommended-products-label medium-margin-top'>Istoricul tau de navigare</div>
        <div class="recentViewedProduct" ng-repeat="recentViewedProduct in recentViewedProducts" ui-sref="shop.product({'selectedProduct' : recentViewedProduct._id })">
            <img class='recent-viewed-product' ng-src="{{recentViewedProduct.mainPicturePath}}">
        </div>
    </div>
</div>
