<sort-select on-sort-option-changed="onSortOptionChanged(predicate, reverse)"></sort-select>
<div id='search-results-container'>
    <div id='search-results' ng-show="searchResults.length">
        <my-product ng-repeat='product in searchResults' product='product'></my-product>
    </div>
    <div ng-show="!searchResults.length && !loading" ng-bind="searchResultsText"></div>
</div>
<img class='loading-spinner top-100-px' src='images/loading-spinner.gif' ng-show='loading'>
