<!-- Add your site or application content here -->
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top app-theme" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header my-nav-header">
            <img class="logo-icon" ui-sref="shop.home" ng-src="{{logoLink}}">
            <search-box class='search-box' on-search="doSearch(queryText);" suggestions-on='true'></search-box>
            <button type="button" class="navbar-toggle" ng-click="showDropDown()" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse my-nav-bar" id="bs-example-navbar-collapse-1" ng-class="getDropDownVisibility()">
            <ul class="nav navbar-nav navbar-right">
                <li class='small-margin-right clickable contact' ui-sref="shop.contact" ng-click="hideDropDown()">
                    <i class="small-icon"></i>
                    <a class="no-padding" href="#">Contact</a>
                </li class='small-margin-right'>
                <li class='small-margin-right clickable favorite' ui-sref="shop.wishList" ng-click="hideDropDown()">
                    <i class="small-icon"></i>
                    <a class="no-padding" href="#">Favorite</a>
                </li>
                <li class='small-margin-right'>
                    <img class="small-icon" src="/images/phone-icon-white.svg">
                    <span ng-bind="phoneNumber"></span>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Content -->
<div class="container" style="height:100%;position:relative;">
    <div class='row' style="height:100%;position:relative;width:100%;">
        <div class="list-group col-md-3 cattegory-button">
            <div ng-repeat="category in categories">
                <a href="#" class="list-group-item centered-text app-button" ui-sref="shop.category({'selectedCategory' : category._id })" ng-bind='category.name'></a>
            </div>
            <img class='small-loading-spinner' src='images/loading-spinner.gif' ng-if='!categoriesLoaded'>
        </div>
        <div class="col-md-9 no-padding" ui-view></div>
        <div class='col-md-9 no-padding recommended-products-container' ng-show="$state.current.name=='shop.home' && recommendedProducts">
            <div class="recommended-products-label" ng-if="recommendedProducts.length">Te-ar putea interesa si...</div>
            <my-product ng-repeat="rProduct in recommendedProducts" product='rProduct'></my-product>
        </div>
        <shop-details></shop-details>
    </div>
</div>
