<h3 ng-if='wishList.length > 0'>Produsele favorite alese de dumneavoastra:</h3>
<div class="inline-block position-relative" ng-show="productsLoaded" ng-repeat='product in wishList'>
	<img src='/images/x-icon-black.svg' class='wishlist-remove-button' ng-click="deleteProduct(product._id);"/>
	<my-product product='product'></my-product>
</div>
<img class='small-loading-spinner top-100-px' src='images/loading-spinner.gif' ng-if='!productsLoaded'>
<div ng-if="!wishList.length" class='empty-wishlist-message'>Nu aveti niciun produs favorit</div>